In [39]:
import numpy as np
import pandas as pd

In [40]:
df1 = pd.read_csv('Data.csv')
df = df1

In [41]:
from sklearn.preprocessing import Imputer

In [42]:
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis=0)

In [43]:
imputer = imputer.fit(df[['Age', 'Salary']])

In [44]:
df[['Age', 'Salary']] = imputer.transform(df[['Age', 'Salary']])

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
labelencoder = LabelEncoder()

In [47]:
df['Country'] = labelencoder.fit_transform(df['Country'])

In [48]:
df

   Country        Age        Salary Purchased
0        0  44.000000  72000.000000        No
1        2  27.000000  48000.000000       Yes
2        1  30.000000  54000.000000        No
3        2  38.000000  61000.000000        No
4        1  40.000000  63777.777778       Yes
5        0  35.000000  58000.000000       Yes
6        2  38.777778  52000.000000        No
7        0  48.000000  79000.000000       Yes
8        1  50.000000  83000.000000        No
9        0  37.000000  67000.000000       Yes

In [49]:
from sklearn.preprocessing import OneHotEncoder

In [50]:
onehotencoder = OneHotEncoder(categorical_features=[0])

In [59]:
X = pd.DataFrame(onehotencoder.fit_transform(df[['Country', 'Age', 'Salary']]).toarray())
X.describe()

               0          1          2          3             4
count  10.000000  10.000000  10.000000  10.000000     10.000000
mean    0.400000   0.300000   0.300000  38.777778  63777.777778
std     0.516398   0.483046   0.483046   7.253777  11564.099406
min     0.000000   0.000000   0.000000  27.000000  48000.000000
25%     0.000000   0.000000   0.000000  35.500000  55000.000000
50%     0.000000   0.000000   0.000000  38.388889  62388.888889
75%     1.000000   0.750000   0.750000  43.000000  70750.000000
max     1.000000   1.000000   1.000000  50.000000  83000.000000

In [58]:
from sklearn.preprocessing import StandardScaler

In [56]:
sc = StandardScaler()

In [61]:
df2 = pd.DataFrame(sc.fit_transform(X))

In [63]:
df2.describe()

                  0          1             2             3             4
count  1.000000e+01  10.000000  1.000000e+01  1.000000e+01  1.000000e+01
mean  -2.220446e-17   0.000000 -6.661338e-17 -8.881784e-17  4.274359e-16
std    1.054093e+00   1.054093  1.054093e+00  1.054093e+00  1.054093e+00
min   -8.164966e-01  -0.654654 -6.546537e-01 -1.711504e+00 -1.438178e+00
25%   -8.164966e-01  -0.654654 -6.546537e-01 -4.763148e-01 -8.001133e-01
50%   -8.164966e-01  -0.654654 -6.546537e-01 -5.651192e-02 -1.266002e-01
75%    1.224745e+00   0.981981  9.819805e-01  6.135580e-01  6.355331e-01
max    1.224745e+00   1.527525  1.527525e+00  1.630773e+00  1.752147e+00